.logo {
    text-align: center;
}

.logo img {
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
}

.logo img:hover {
    transform: scale(1.1, 1.1);
}

.nav {
    padding-left: 250px;
    padding-right: 250px;
}

.nav ul {
    list-style-type: none;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}

.nav li {
    display: inline-block;
    width: 170px;
    margin: 20px;
    padding: 0px;
    background-color: #698ebe;
}

.nav a:link,
a:visited,
a:active {
    color: #fff;
    text-decoration: none;
}

.nav a:hover {
    background-color: teal;
}

.nav a {
    display: block;
}

.content {
    padding-left: 150px;
    padding-right: 150px;
}

.sidebar {
    position: fixed;
    top: 290px;
    left: 50px;
}

.sidebar ul {
    list-style: none;
}

.page {
    padding-top: 20px;
    text-align: center;
}